<!--
/**
 * Prevent Search Engine Discovery
 *
 * @copyright Scandiweb, Inc. All rights reserved.
 */
-->

<div class="messages">
    <div class="message message-notice notice">
        <span>Setting&#32;is&#32;disabled.&#32;You&#32;can&#32;enable&#32;it&#32;by&#32;going&#32;into&#32;<a href="https://portal.readymage.com/" target="_blank" rel="noopener">ReadyMage&#32;portal</a>&#32;>&#32;Project&#32;>&#32;Environment&#32;and&#32;navigating&#32;to&#32;Search&#32;Engine&#32;Discovery&#32;tab.</span>
        <br/>
    </div>
</div>
